@charset "UTF-8";

@media(max-width:550px){
    #main{
        display: block;
    }
    table{
        margin: 0 auto;
        width: 300px;
    }
    .hinmei,.tax{
        display: none;
    }
    table th{
        width:300px;
    }
    table td{
        width:300px
    }
}