@charset "UTF-8";

body {
    font-family: "YakuHanJP", "Noto Sans JP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴシック Pro", Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

h1 {
    width: 634px;
    text-align: right;
    margin: 0;
    padding: 0;
    float: right;
    font-size: 12px;
    color: #666;
}

h2{
    text-align: center;
    margin-top: 30px;
}

#main{
    display: flex;
    justify-content: center;
}

table{
  border-collapse:separate;
  border-spacing: 5px;
  width: 40%;
    margin-top: 30px;
    margin-bottom: 100px;
}

table th,table td{
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
}

table th{
  background-color:darkblue;
  color: white;
  border:solid 1px #927141;
}

table td{
  background-color:white;
  border:solid 1px #af9d85;
}